.passion-item{
    display: flex;
    width: 50%;
    height: 120px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  
}

.passion-item .passion-item-icon{
    color: var(--bg-color);
    height: 100%;
    width: 30%;
    
}
.passion-item .passion-item-icon .icon-area{
    height: 80%;
    text-align: center;
    padding: 5%;
    background-color: black;
    border-radius: 10px;
}
.passion-item .item-text{
    text-align: left !important;
    padding-left: 5%;
    padding-right: 2%;
}
.passion-item .item-text h3{
    color: var(--bg-color)

}
.passion-item .item-text p{
    color: white;

}

.passion-item .passion-item-icon .icon-area .icon {
    font-size: 40px !important;
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
  
  }
  
  
  
  