.home-page{
    background:linear-gradient( rgb(29, 28, 28, 0.7), rgb(85, 84, 84, 0.7)), url(../../../src/images/photo.jpg);
    background-size: cover;
   background-position:top;
    background-repeat: no-repeat;
    position: relative;
    
}

.home-page .home-text-area{
    color: white !important;
    position: relative;
    text-align: center;
    vertical-align: center;
    width:50%;
    top: 30%;
    left:20%;
    line-height: 100px;
}
.home-page .home-text-area span{
    font-size: 30px;
    color: var(--bg-color);
}
.home-page .home-text-area .btn p{
    padding: 8%;
    border: 2px solid var(--bg-color);
    width: 120px;
    border-radius: 20px;
    color: white;
}

.home-page .home-text-area .btn:hover p{
    background-color: #6610f2;
}

.animated-icon span{
    position: absolute;
    top: 90%;
    left: 47%;
    animation: to-down 2s ease-in-out infinite;
    color: white !important;
}

@keyframes to-down{
    from{
        top:85%;
        opacity: 0.2;
    }
    to{
        top: 100%;
        opacity: 1;
    }
}