body{
  height: 100%;
}
html{
  height: 100%;
}
.color-switcher{
  width: 10rem;
  position: absolute;
  background-color: lightgray;
  padding: 1rem;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  transition: all 0.5s ease-in-out;
}
.color-switcher--open{
  transform: translate(0, -50%);
  
}

.heading{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.color-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

}


.color-item{
  width: 2rem;
  height: 2rem;
  background-color: var(--bg-color);
  border-radius: 50%;
  cursor: pointer;
}
.color-switcher button{
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  color: red;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  display: grid;
  place-items: center;
  cursor: pointer;
 
}
.ri-settings-2-line {
  
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  animation: mymove 2s linear infinite;
}



@keyframes mymove {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.App .header-area{
  width: 30%;
  height: 100%;
  

}
.App .body-content{ 
  position: relative;
	width: 80%;
	left: 65%;
	background-color: #ecf1f1;
	text-align: center;
	-webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.App .main-area{
  display: flex;
  
}
.App .header-area{
  position: fixed;
	top: 5%;
	bottom: auto;
	z-index: 10;
}


